* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  display:block;
}

#root {
  background-color: #d6d7da;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.right-bar-wapper {
  background-color: rgb(246, 246, 248);
  height: 90vh;
}
@import url("./sidebar.css");
@import url("./rightBar.css");
